# .env file
SLACK_BOT_TOKEN=your_slack_bot_token_here
SLACK_APP_TOKEN=your_slack_app_token_here
OTS_USERNAME=your_ots_username_here
OTS_API_TOKEN=your_ots_api_token_here
ENCRYPTION_KEY=your_encryption_key_here
OTS_API_URL = "https://onetimesecret.com/api/v1/share"
OTS_BASE_URL = "https://onetimesecret.com/secret/"